html,body{margin: 0;padding: 0;}
ul,ol{list-style: none;}
.mobi{background-color: #ccc;font-size: 30px;}
.mobi span{cursor: pointer;}
.head{background-color: white;display: flex;justify-content: space-evenly;align-items: center;position: fixed;width: calc(300px*2);height: 10vh;bottom: 0;border-top: 1px solid #000;border-left: 1px solid #000;border-right: 1px solid black;}
/* .head.on{left: 0;} */
h3{display: inline-block;cursor: pointer;text-align: center;opacity: .3;}
@media screen and (max-width:600px) {
    .head{width: 100vw;}
}